/* TYPOGRAPHY */

webfont('Hind', 'hind-v10-latin-500', 500)
webfont('Hind', 'hind-v10-latin-700', 700)
webfont('Hind', 'hind-v10-latin-regular', regular)

h1, h2, p {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 2rem;
}