footer.footer
	.container
		.footer-links
			a.link.footer-links__item(href='sprintbox' target='_blank' rel='noopener noreferrer' title='Sprintbox')
				svg(width="160", height="32")
					use(href="../images/sprite.svg#icon-sprintbox", xlink:href="../images/sprite.svg#icon-sprintbox")