section.hero
	.container.hero__container
		.hero-content
			p.hero-content__greeting Hello!
			h1.h1.hero-content__heading I'm Slava Maksimov
			p.hero-content__description Freelancer, web developer. Website, landing page, online store or an individual solution based on Wordpress and Shopify.
			.hero-content__links
				a.hero-content__links-item(href='https://www.upwork.com/freelancers/~019df0d142b971dff7' target='_blank' rel='noopener noreferrer' title='My page on Upwork')
					svg(width="32", height="32")
						use(href="../images/sprite.svg#icon-upwork", xlink:href="../images/sprite.svg#icon-upwork")
				a.hero-content__links-item(href='https://github.com/slavamak' target='_blank' rel='noopener noreferrer' title='My page on GitHub')
					svg(width="32", height="32")
						use(href="../images/sprite.svg#icon-github", xlink:href="../images/sprite.svg#icon-github")
				a.hero-content__links-item(href='https://instagram.com/slavamak.dev' target='_blank' rel='noopener noreferrer' title='My page on Instagram')
					svg(width="32", height="32")
						use(href="../images/sprite.svg#icon-instagram", xlink:href="../images/sprite.svg#icon-instagram")
				a.hero-content__links-item(href='https://t.me/slavamak_dev' target='_blank' rel='noopener noreferrer' title='Click to chat Telegram')
					svg(width="32", height="32")
						use(href="../images/sprite.svg#icon-telegram", xlink:href="../images/sprite.svg#icon-telegram")
				a.hero-content__links-item(href='https://wa.me/79043307244' target='_blank' rel='noopener noreferrer' title='Click to chat WhatsApp')
					svg(width="32", height="32")
						use(href="../images/sprite.svg#icon-whatsapp", xlink:href="../images/sprite.svg#icon-whatsapp")
		.hero-card
			img.hero-card__avatar(src="../images/slava.jpg", alt="SlavaMak")
