section.latest-works
  .container
    h2.h2.latest-works__heading Latest works
      a.button.latest-works__button(href="works")
        span View all
    ul.latest-works-list
      li.latest-works-list__item
        a(href="works/works-item/")
          span 
            div.latest-works-list__item-icon
              svg(width="32", height="32")
                use(href="../images/sprite.svg#icon-wp", xlink:href="../images/sprite.svg#icon-wp")
            | Wordpress website for conctruction company
      li.latest-works-list__item
        a(href="works/works-item/")
          span 
            div.latest-works-list__item-icon
              svg(width="32", height="32")
                use(href="../images/sprite.svg#icon-html", xlink:href="../images/sprite.svg#icon-html")
            | Website for computer service 
