$accent: #EF6A60;
$accent-s: #5ea9ff;
$background: #1b1b1b;
$gray: #5f5f5f;
$light: #ffffff;
$dark: #000000;

$gutter: 32px;

$breakpoints: (
	xs: 375px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px,
	xxxl: 1680px
);
$container-max-widths: (
	sm: 420px,
	md: 768px,
	lg: 1024px
);
