/* COMPONENT BUTTON */

.button {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  background-color: color.back;
  border-radius: 4px;
  color: color.text;
  font-size: 0.875rem;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: darken(color.back, 10);
  }
}