.projects {
  margin-top: 60px;
  margin-bottom: 60px;
}

.projects-list {
  margin-top: 32px;
}

.projects-list__item {
  font-size: 1.1875rem;
  font-weight: normal;
  margin-left: -16px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  width: calc(100% + 32px);
}

.projects-list__item-title {
  display: block;
}

.projects-list__item-title:hover {
  color: inherit;
}

.projects-list__item-description {
  font-weight: 400;
}

.projects-list__item-technologies {
  font-size: 1rem;
  font-style: italic;
  color: #8c8c8c;
}

.projects-list__item:hover {
  color: #404040;
  background-color: #f2f2f2;
}