extends layout.pug

block variables
	- var description = 'Personal website Wordpress developer from Saint-Petersburg | SlavaMak'
	- var title = 'Wordpress developer | SlavaMak'

prepend header
	include blocks/header.pug
prepend main
	include blocks/promo.pug