extends layout.pug

block variables
	- var description = 'Personal web-site Wordpress developer from Saint-Petersburg | SlavaMak'
	- var title = 'SlavaMak - Wordpress developer'

prepend main
	include blocks/promo.pug