/* FOOTER STYLES */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.socials {
	display: flex;
	padding: $gutter $gutter/4;
	justify-content: space-around;
	text-align: center;
}
.socials__link {
	display: inline-block;
	width: 32px;
	height: 32px;
}

@include breakpoint-up(md) {
	.socials__link {
		width: 36px;
		height: 36px;
	}
}