/* HEADER STYLES */

.header {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: $gutter;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: block;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 900;
}