extends ../layout.pug

block variables
	- var title = 'Latest works | SlavaMak'
	- var description = 'My latest works'

prepend main
	section.works
		h1.h1.works__title Latest works
		ul.list
			li.list__item Wordpress website for conctruction company (
				a.link(href='https://srubov.net' target='_blank' rel='noopener noreferrer' title='Srubov.Net') srubov.net
				| )
			li.list__item Website for computer service (
				a.link(href='https://cps-komi.ru' target='_blank' rel='noopener noreferrer' title='cps-komi.ru') cps-komi.ru
				| )