/* Page 'Works' styles */

.works {
	display: flex;
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.works__title {
	font-size: 3.5rem;
	text-align: center;
}
.list {
	padding: $gutter $gutter/2;
}
.list__item {
	margin-bottom: 8px;
	line-height: 1.2;
	font-size: 18px;
	text-align: center;
}