extends ../_layout.pug

block variables
  - var title = 'Latest works | SlavaMak'
  - var description = 'My latest works'

prepend header
  include ../blocks/_header-page.pug

prepend main
  section.page-works
    .container
      h1.h1.page-works__title All works
      ul.list.page-works__tags-list
        li.list__item.button
          a(href="#") Landing
        li.list__item.button
          a(href="#") Wordpress
      ul.page-works-list.list
        li.list__item
          span 
            div.latest-works-list__item-icon
              svg(width="32", height="32")
                use(href="../images/sprite.svg#icon-wp", xlink:href="../images/sprite.svg#icon-wp")
            | Wordpress website for conctruction company 
          a.link(href='https://srubov.net' target='_blank' rel='noopener noreferrer' title='Srubov.Net') (srubov.net)
        li.list__item
          span 
            div.latest-works-list__item-icon
              svg(width="32", height="32")
                use(href="../images/sprite.svg#icon-html", xlink:href="../images/sprite.svg#icon-html")
            | Website for computer service 
          a.link(href='https://cps-komi.ru' target='_blank' rel='noopener noreferrer' title='cps-komi.ru') (cps-komi.ru)