/* VARIABLES */

bp = {
	xs: 375px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px,
	xxxl: 1680px
	}

color = {
	accent: #ffd700,
	light: #ffffff,
	dark: #222222,
	back: #f2f2f2,
	nav: #8c8c8c,
	text: #404040
}

gutter = 32px

base-font-size = 16px
text-font-size = 1.1875rem
nav-font-size = 1.1rem