div, section, header, main, footer, ul {
	box-sizing: border-box;
}
.page {
	font-size: 16px;
	font-family: 'Fira mono', monospace, Tahoma, sans-serif;
	color: #444;
}
.page-container {
	width: 100%;
}
.header {
	padding: 2rem 0;
	height: 100vh;
}
.header-title {
	font-size: 3rem;
	text-align: center;
	margin-top: calc(50vh - 7rem);
	margin-bottom: 0;
}
.header-title .fa {
	display: none;
}
.header-subtitle {
	display: block;
	text-align: center;
	padding: 1rem 0;
}
.header-lineBottom {
	border: none;
	height: 1px;
	background-color: #999;
	margin: 0 auto;
	background-image: -webkit-linear-gradient(0deg, #fff, #999, #fff);
}
.main {
	padding: 2rem 1rem;
}
.projects {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.projects-Title {
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.projects-list {
	display: inline-block;
	width: 288px;
	height: 176px;
	margin-bottom: .8rem;
	text-decoration: none;
	position: relative;
	padding: 0.5rem;
	border-radius: 4px;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;
}
.projects-list:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	background-color: #000;
	z-index: -1;
}
.project-item1 {
	background-image: url(../img/project-img1.png);
	background-size: cover;
	background-position: center;
}
.projects-list a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	transition: 0.2s ease-in-out;
}
.projects-list p {
	margin: 0;
	padding: 2rem 0 0;
}
.projects-list a:hover {
	color: #ccc;
}
.footer {
	text-align: center;
}

