.Page {
	font-size: 16px;
	font-family: 'Oxygen', Tahoma, sans-serif;
	color: #444;
}
.Page-container {
	width: 640px;
	margin: 0 auto;
}
.Header {
	padding: 2rem;
	background-image: url();
	height: 100vh;
}
.Header-Title {
	font-size: 3rem;
	text-align: center;
	margin-top: calc(50vh - 7rem);
}
.Header-Title .fa {
	font-size: 2rem;
	vertical-align: middle;
}
.Header-Subtitle {
	display: block;
	text-align: center;
	padding: 1rem 0;
}
.Header-LineBottom {
	border: none;
	height: 1px;
	background-color: #999;
	margin: 0 auto;
	background-image: -webkit-linear-gradient(0deg, #fff, #999, #fff);
}
.Main {
	padding: 2rem 1rem;
}
.Projects {
	list-style-position: inside;
}
.Projects-Title {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
}
.Projects-List {
	margin-bottom: .8rem;
	text-decoration: none;
}
.Projects-List a {
	text-decoration: none;
}
.Projects-List a:hover {
	text-decoration: underline;
}