div, section, header, main, footer, ul {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.page {
	font-size: 16px;
	font-family: 'Fira mono', monospace, Tahoma, sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}
.page-container {
	width: 100%;
}
.header {
	padding: 2rem 0;
	height: 100vh;
}
.header-title {
	font-size: 3rem;
	text-align: center;
	margin-top: calc(50vh - 7rem);
	margin-bottom: 0;
}
.header-title .fa {
	display: none;
}
.header-subtitle {
	display: block;
	text-align: center;
	padding: 1rem 0;
}
.header-lineBottom {
	border: none;
	height: 1px;
	background-color: #999;
	margin: 0 auto;
	background-image: -webkit-linear-gradient(0deg, #fff, #999, #fff);
}
.main {
	padding: 2rem 1rem;
}
.PersonalProjects {
	padding: 2rem 0;
}
.projects-list-wrap {
	display: inline-block;
	margin: 0.5rem;
}
.projects {
	list-style-position: inside;
	margin: 0;
	padding: 2rem 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: flex-start;
}
.projects-title {
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0;
}
.projects-list {
	display: inline-block;
	width: 288px;
	height: 176px;
	text-decoration: none;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	border-radius: 6px;
	overflow: hidden;
	z-index: 1;
	background-size: cover;
	background-position: center;
}
.projects-list:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	background-color: #000;
	z-index: -1;
}
.project-item1 {
	background-image: url(../img/project-img1.jpg);
}
.project-item2 {
	background-image: url(../img/project-img2.jpg);
}
.projects-list a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 176px;
}
.projects-list img {
	vertical-align: middle;
	width: 126px;
	transition: 0.2s ease-in-out;
}
.projects-list a:hover img {
	transform: scale(1.1);
}
.projects-list-text {
	width: 288px;
	text-align: center;
	color: #555;
	font-size: 0.875rem;
	margin-left: 0.875rem 0;
}
.footer {
	text-align: center;
	padding: 2rem 0;
	background-color: #333;
	color: #ccc;
	font-size: 0.875rem;
}
.Copyright {
	margin: 1rem 0 2rem 0;
}
.Social {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.Social svg {
	transition: 0.2s ease-in-out;
}
.Social:hover svg {
	fill: #ccc;
}
