// MODULE FOOTER STYLES//

.footer {
	text-align: center;
	padding: 2rem 0;
	font-size: 0.875rem;
}
.footer__link {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.footer__social-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.footer__social-icon svg {
	fill: #795548;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.footer__social-icon:hover svg {
	fill: #9e7465;
}