/* Styles for Tablet and Desktop devices */

@media screen and (min-width: 740px) {
	.page-container {
		max-width: 970px;
		margin: 0 auto;
	}
	.header-title .fa {
		display: inline-block;
		font-size: 2rem;
		vertical-align: middle;
	}
}
@media screen and (min-width: 406px) {
	.header {
		padding: 2rem;
	}
}